@font-face {
  font-family: "PP Telegraf";
  src: url("../assets/fonts/PPTelegraf-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../assets/fonts/PPTelegraf-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
